<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>DevOps Pipeline </title>
</head>
<body style="font-family: Arial; text-align:center; margin-top: 50px;">
  <h1 style="color: #2c3e50;"> DevOps Pipeline Demo</h1>
  <p>Hey — your Node.js app is running successfully!</p>
  <p>Now go ahead and push this to GitHub, Dockerize it, and deploy with your favorite CI/CD tool </p>
  <a href="/api/health">Check App Health</a>
</body>
</html>
